.slider_wrapper {
    width: 100%;
    height: 100%;
}

.swiper_container-product {
    width: 45%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.gallery-top {
    height: 80%;
    width: 50%;
}

.gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide {
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
    color: black;
}

.swiper_container-product {
    margin: 0;
    width: 100%;
}

.left_part,
.right_part {
    display: flex;
    flex-direction: column;
}

.left_part {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.about_product {
    display: flex;
    width: 100%;
}

.inner_product {
    display: flex;
}

.title_product {
    background-color: rgba(0, 0, 0, 0.05);
    width: 100%;
    margin: 200px 0 30px 0;
}

.name_product>h1 {
    font-size: 30pt;
    font-weight: 500;
}

.price {
    display: flex;
    flex-direction: column;
}

.buy_product {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 10px;
}

.in_stock {
    display: flex;
    background: rgba(0, 0, 0, 0.03);
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.stock_text {
    font-size: 15px;
    font-weight: 200;
    margin-left: 10px;
}

.product_price {
    font-size: 40px;
    font-weight: 500;
}

.button_buy {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    margin-left: 20px;
    background: linear-gradient(105deg, #382a95, #ea3f83);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.word_buy {
    font-size: 20px;
    font-weight: 300;
    margin-left: 15px;
    color: white;
}

.product_info {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-top: 50px;
}

.characteristics {
    display: flex;
    margin: 10px 30px 0 0;
    align-items: center;
    width: 25%;
}

.characteristics_pht {
    margin-right: 10px;
}

.characteristics_pht>img {
    width: 40px;
}

.characteristics_p1 {
    font-size: 12px;
    color: grey;
    font-weight: 300;
    margin-bottom: 5px;
}

.characteristics_p2 {
    font-size: 15px;
}